.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.playlistItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    max-height: 35rem;
}

.img {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
}

.header {
    color: white;
}

.card {
    width: 15rem;
    height: auto;
    margin: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.15rem solid white;
    border-radius: 5%;
    color: white;
}

.trackName {
    padding: 0 1rem;
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.name {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.creator,
.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.artists {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #1DB954;
}

.artists:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    font-weight: 700;
}

.profileButton {
    background-color: #1DB954;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20px;
}

.profileButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card:hover {
    border-color: #1DB954;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #1DB954;
    cursor: pointer;
}

.reorderButton {
    background-color: #1DB954;
    color: white;
    border-radius: 20px;
    border: 1px solid #1DB954;
}

.reorderButton:hover,
.copyButton:hover {
    border-color: #1DB954;
    cursor: pointer;
    transform: translateY(-2.5px);
    box-shadow: 0 5px 10px white;
}

.copyButton {
    background-color: #1DB954;
    color: white;
    border: 1px solid #1DB954;
    border-radius: 20px;
    width: 60%;
    margin-top: 0.5rem;
}