.wholePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 100vh;
}

.searchBar {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem;
}

.searchBtn {
  background-color: #1db954;
  color: white;
  border: 1px solid #1db954;
  border-radius: 10px;
}

.searchBtn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 0 5px white;
}

.artistList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.artistCard {
  text-decoration: none;
}

.nextBtn,
.prevBtn {
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.btnDiv {
  display: flex;
  width: 90%;
  justify-content: center;
  max-width: 500px;
}

.nextBtn {
  background-color: #1d34b9;
}

.prevBtn {
  background-color: #b91d82;
}

.nextBtn:hover,
.prevBtn:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.searchBtn {
  padding: 1rem;
}

@media (max-width: 468px) {
  .btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .prevBtn,
  .nextBtn {
    margin: 0.5rem;
  }
}
