.navBody {
    background-color: #1DB954;
    margin-bottom: 0;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand {
    text-decoration: none;
    color: white;
}

.linkMenu {
    display: flex;
    flex-direction: column;
}

.linkMenu button {
    align-self: flex-end;
}

.hamburger {
    max-width: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.hamburger:hover {
    cursor: pointer;
}

.burgerIcon {
    height: 100%;
}

/* .rotate {
    transform: rotate(90deg);
} */

.burgerIcon-rotated {
    height: 100%;
    max-height: 3rem;
    max-width: 3rem;
    transform: rotate(90deg);
}

.linkUl {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn 750ms;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.linkLi {
    list-style-type: none;
    color: white;
    margin: 0.5rem 0 0.5rem 0;
}

.linkLi:nth-child(1) {
    margin: 0 0 0.5rem 0;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.1rem;
}