.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.invisible {
    opacity: 0;
}

.img {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
}

.header {
    color: white;
}

.card {
    width: 15rem;
    height: auto;
    margin: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    border: 0.15rem solid white;
    border-radius: 5%;
    animation: fadeIn 750ms;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1;
    transform: translateY(-20px);}
}

.trackName {
    padding: 0 1rem;
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cardBody,
.artistDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.artistUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.artistDiv {
    justify-content: center;
    padding: 0 0 1rem 0;
}

.artistName {
    list-style-type: none;
}

.artist,
.artistName {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.artists {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #1DB954;
}

.artists:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    font-weight: 700;
}

.profileButton {
    background-color: #1DB954;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20px;
}

.profileButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card:hover {
    border-color: #1DB954;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #1DB954;
    cursor: pointer;
}