.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.img {
    width: 15rem;
    height: 15rem;
    border-radius: 5%;
}

.card {
    width: 15rem;
    height: auto;
    margin: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.15rem solid white;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cardBody,
.artistDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artistUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.artistDiv {
    justify-content: center;
}

.artistName {
    list-style-type: none;
    text-decoration: none;
    color: white;
}



.link {
    text-decoration: none;
}

.card:hover .artistName {
    color: #1DB954;
}

.card:hover {
    border-color: #1DB954;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #1DB954;
}

.artist,
.artistName {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.profileButton {
    background-color: #1DB954;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20px;
}

.profileButton:hover {
    cursor: pointer;
    text-decoration: underline;
}